/*
 *	                  ....
 *	                .:   '':.
 *	                ::::     ':..
 *	                ::.         ''..
 *	     .:'.. ..':.:::'    . :.   '':.
 *	    :.   ''     ''     '. ::::.. ..:
 *	    ::::.        ..':.. .''':::::  .
 *	    :::::::..    '..::::  :. ::::  :
 *	    ::'':::::::.    ':::.'':.::::  :
 *	    :..   ''::::::....':     ''::  :
 *	    :::::.    ':::::   :     .. '' .
 *	 .''::::::::... ':::.''   ..''  :.''''.
 *	 :..:::'':::::  :::::...:''        :..:
 *	 ::::::. '::::  ::::::::  ..::        .
 *	 ::::::::.::::  ::::::::  :'':.::   .''
 *	 ::: '::::::::.' '':::::  :.' '':  :
 *	 :::   :::::::::..' ::::  ::...'   .
 *	 :::  .::::::::::   ::::  ::::  .:'
 *	  '::'  '':::::::   ::::  : ::  :
 *	            '::::   ::::  :''  .:
 *	             ::::   ::::    ..''
 *	             :::: ..:::: .:''
 *	               ''''  '''''
 *	
 *
 *	AUTOMAD
 *
 *	Copyright (c) 2016-2018 by Marc Anton Dahmen
 *	http://marcdahmen.de
 *
 *	Licensed under the MIT license.
 */


// Automad colors.
@am-bg: 			#FFFFFF;
@am-text: 			#484848;
@am-muted: 			#9A9A9A;

@am-primary:		@am-text;
@am-danger:			#EC7262;
@am-success:		#369BE3;


// Specific Automad theme variables.
@am-body-padding-bottom:	@utility-margin; 

@am-border-width:			2px;
@am-border-color:			#ECECEC;
@am-hairline: 				1px solid @am-border-color;

@am-nav-font-weight:		@base-body-font-weight;

@am-radius: 				7px;
@am-radius-small: 			5px;

// UIkit base variables.
@base-body-color: 			@am-text;
@base-body-background:		@am-bg;

@base-margin-vertical:		@utility-margin-small;

@base-hr-margin-vertical:	@utility-margin-small;
@base-hr-border:			@am-border-color;
@base-hr-border-width:		@am-border-width;

@base-body-font-family:		"Rubik", sans-serif;
@base-body-font-weight:		400;
@base-body-font-size:		14px;
@base-body-line-height:		20px;

@base-code-font-family:		"SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
@base-code-color: 			inherit;
@base-code-font-size: 		13px;

@base-link-color:           @am-success;
@base-link-hover-color:     darken(@am-success, 10%);

@base-em-color: 			inherit;

@base-heading-font-family:  inherit;
@base-heading-color:		@am-text;
@base-heading-margin-top: 	@base-margin-vertical;
@base-h1-font-size:  		26px;
@base-h1-line-height: 		26px;
@base-h2-font-size: 		18px;
@base-h2-line-height:  		19px;
@base-h3-font-size: 		16px;
@base-h3-line-height:  		20px;

@base-list-padding-left:	30px;

@base-selection-background:	@am-success;
@base-selection-color:  	#FFFFFF;


.am-dashboard,
.am-inpage {

	font-variant-ligatures: none;

	& div:empty {
		margin: 0 !important;
	}

	& h1,
	& h2 {
		font-weight: 400;
	}

	& a {
		text-decoration: none !important;
	}
	
	& strong {
		font-weight: 500;
	}

	& a,
	& button,
	& label,
	& textarea,
	& input,
	& .uk-button,
	& .uk-icon-button,
	& .uk-badge {
		.transition(color 0.2s, background-color 0.2s, border-color 0.2s, box-shadow 0.2s, opacity 0.2s;);
	}
	
	& *,
	& *:hover {
		-webkit-tap-highlight-color: rgba(0,0,0,0) !important;
	}
	
}
