/*
 *	                  ....
 *	                .:   '':.
 *	                ::::     ':..
 *	                ::.         ''..
 *	     .:'.. ..':.:::'    . :.   '':.
 *	    :.   ''     ''     '. ::::.. ..:
 *	    ::::.        ..':.. .''':::::  .
 *	    :::::::..    '..::::  :. ::::  :
 *	    ::'':::::::.    ':::.'':.::::  :
 *	    :..   ''::::::....':     ''::  :
 *	    :::::.    ':::::   :     .. '' .
 *	 .''::::::::... ':::.''   ..''  :.''''.
 *	 :..:::'':::::  :::::...:''        :..:
 *	 ::::::. '::::  ::::::::  ..::        .
 *	 ::::::::.::::  ::::::::  :'':.::   .''
 *	 ::: '::::::::.' '':::::  :.' '':  :
 *	 :::   :::::::::..' ::::  ::...'   .
 *	 :::  .::::::::::   ::::  ::::  .:'
 *	  '::'  '':::::::   ::::  : ::  :
 *	            '::::   ::::  :''  .:
 *	             ::::   ::::    ..''
 *	             :::: ..:::: .:''
 *	               ''''  '''''
 *	
 *
 *	AUTOMAD
 *
 *	Copyright (c) 2016-2018 by Marc Anton Dahmen
 *	http://marcdahmen.de
 *
 *	Licensed under the MIT license.
 */

@am-cm-transition-delay: 			            0.1s;
@am-cm-selection-background:                    darken(@form-background, 7%);

@htmleditor-navbar-background:                  @form-border;

@htmleditor-navbar-nav-height:                  @button-height;
@htmleditor-navbar-nav-padding-horizontal:      12px;
@htmleditor-navbar-nav-line-height:             @htmleditor-navbar-nav-height;
@htmleditor-navbar-nav-color:                   @am-muted;

@htmleditor-navbar-nav-hover-background:        @htmleditor-navbar-background;
@htmleditor-navbar-nav-hover-color:             @am-text;
@htmleditor-navbar-nav-onclick-background:      @htmleditor-navbar-background;
@htmleditor-navbar-nav-onclick-color:           @am-text;
@htmleditor-navbar-nav-active-background:       @htmleditor-navbar-background;
@htmleditor-navbar-nav-active-color:            @am-text;
 
@htmleditor-content-background:                 #FFFFFF;
@htmleditor-content-padding:                    @form-padding;
@htmleditor-content-split-border:               @form-border;

@htmleditor-fullscreen-z-index:                 1040;
@htmleditor-fullscreen-content-top:             @htmleditor-navbar-nav-height;
@htmleditor-fullscreen-icon-resize:             "\f066";


.hook-htmleditor() {
	border: none;
}

.hook-htmleditor-navbar() {

	overflow: hidden;
	border-top-left-radius: @am-radius;
	border-top-right-radius: @am-radius;

	&-flip li[class*="-button-"] {
		@media (max-width: @breakpoint-small-max) {
			display: none;
		}	
	}
		
}

.hook-htmleditor-content() {
	border: none;
	background-color: transparent;
}

// Autoresize editor and preview.
:not(.uk-htmleditor-fullscreen) > div {
	
	& > div > .CodeMirror,
	& > .uk-htmleditor-preview {
	  	height: auto !important;
		min-height: @form-height;
	}

}

.uk-htmleditor-code {
	
	& .CodeMirror {
		
		font-family: inherit;
		padding: @htmleditor-content-padding;
		padding-top: 6px;
		padding-bottom: 6px;
		color: @form-color;
		background-color: @form-background;
		border-bottom-left-radius: @am-radius;
		border-bottom-right-radius: @am-radius;
		border: @am-border-width solid @form-border;
		
		&.CodeMirror-focused {
			color: @form-focus-color;
			background-color: @form-focus-background;
            border-color: @form-focus-border;
		}

		& .CodeMirror-line,
		& .CodeMirror-placeholder {
			font-weight: @base-body-font-weight;
		}

		& .CodeMirror-placeholder {
			color: @form-placeholder-color;
		}

		& .CodeMirror-scroll {
			box-sizing: border-box;
			overflow-x: hidden !important;
		}
		
		& .CodeMirror-sizer {
			margin: 0 !important;
		}

		// Delay transition to avoid flickering when clicken on any button in the CodeMirror navbar.
		&,
		& * {
			.transition(color 0.2s @am-cm-transition-delay, background-color 0.2s @am-cm-transition-delay, border-color 0.2s @am-cm-transition-delay, box-shadow 0.2s @am-cm-transition-delay;);
		}

	}
	
}

.uk-htmleditor-preview {
	
	padding-top: 15px;
	padding-bottom: 15px;
	overflow: hidden;
	color: @form-focus-color;
	background-color: @am-bg;
	border-bottom-left-radius: @am-radius;
	border-bottom-right-radius: @am-radius;
	border: @am-border-width solid @form-border;

	& * {
		color: inherit;
	}
	
    & h1 {
        font-size: 28px;
        line-height: 28px;
        font-weight: 500;
    }
    
    & h2 {
        font-size: 24px;
        line-height: 26px;
        font-weight: 500;
    }
    
    & h3 {
        font-size: 21px;
        line-height: 24px;
        font-weight: 500;
    }
    
    & h4 {
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
    }
    
    & code {
        font-family: @base-code-font-family;
        font-size: @base-code-font-size;
    }

}

.uk-htmleditor-fullscreen {
	
	min-height: 100vh;
	
	& .uk-htmleditor-navbar {
		border-radius: 0;
	}
	
    & .CodeMirror,
    & .uk-htmleditor-preview  {
        border: none !important;
    }
 
    & .cm-s-default {
        padding: 0;
        border-radius: 0;
    }
    
	& .uk-htmleditor-code .CodeMirror-scroll,
	& .uk-htmleditor-preview {
		min-height: ~"calc(100vh - @{htmleditor-navbar-nav-height})" !important;
		max-height: ~"calc(100vh - @{htmleditor-navbar-nav-height})" !important;
		padding: @utility-container-padding-horizontal;
		color: @form-focus-color;
		background-color: @am-bg;
        border-radius: 0;
		.transition(all 0s;);
	}
	
	&[data-mode='split'] .uk-htmleditor-code {
		
		& .cm-s-default {
			border-right: none;
		}
	}
	
	& .uk-htmleditor-preview {
		border-left: none;
	}
	
}

.CodeMirror-lines {
	padding: 0; // Vertical padding around content.
}

.CodeMirror pre {
	padding: 0; // Horizontal padding of content.
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
	background-color: inherit; // The little square between H and V scrollbars.
}

.cm-s-default {
	
	font-weight: 400;
	
	& .cm-header {
		color: inherit;
	}

	& .cm-quote {
		color: inherit;
	}
	
	& .cm-keyword {
		color: inherit;
	}
	
	& .cm-atom {
		color: inherit;
	}
	
	& .cm-number {
		color: inherit;
	}
	
	& .cm-def {
		color: inherit;
	}
	
	& .cm-variable,
	& .cm-punctuation,
	& .cm-property,
	& .cm-operator {
		color: inherit;
	}
		
	& .cm-variable-2 {
		color: @am-success;
	}
	
	& .cm-variable-3 {
		color: inherit;
	}
	
	& .cm-comment {
		font-family: @base-code-font-family;
		font-size: 13px;
		color: inherit;
	}
	
	& .cm-string {
		color: inherit;
		font-style: italic;
	}
	
	& .cm-string-2 {
		color: inherit;
	}
	
	& .cm-meta {
		color: inherit;
	}
	
	& .cm-qualifier {
		color: inherit;
	}
	
	& .cm-builtin {
		color: inherit;
	}
	
	& .cm-bracket {
		color: inherit;
	}
	
	& .cm-tag {
		color: inherit;
	}
	
	& .cm-attribute {
		color: inherit;
	}
	
	& .cm-hr {
		color: inherit;
	}
	
	& .cm-link {
		color: @am-success;
	}
    
    & .cm-url {
        color: @am-muted;
    }

	& .cm-error {
		color: inherit;
	}
	
    &.CodeMirror .CodeMirror-matchingbracket {
        color: @am-danger;
        font-weight: 500;
    }
    
    & .CodeMirror-selected { 
        background-color: @am-cm-selection-background; 
    }
    
    & .CodeMirror-line::selection, 
    & .CodeMirror-line > span::selection, 
    & .CodeMirror-line > span > span::selection { 
        background-color: @am-cm-selection-background;
    }
    
    & .CodeMirror-line::-moz-selection, 
    & .CodeMirror-line > span::-moz-selection, 
    & .CodeMirror-line > span > span::-moz-selection { 
        background-color: @am-cm-selection-background;
    }
    
}

.cm-negative {
	color: inherit;
}

.cm-header, 
.cm-strong {
	font-weight: 500;
}

.cm-em {
	font-style: italic;
}

.cm-link {
	text-decoration: underline;
}

.cm-strikethrough {
	text-decoration: line-through;
}

.cm-invalidchar {
	color: inherit;
}
