/*
 *	                  ....
 *	                .:   '':.
 *	                ::::     ':..
 *	                ::.         ''..
 *	     .:'.. ..':.:::'    . :.   '':.
 *	    :.   ''     ''     '. ::::.. ..:
 *	    ::::.        ..':.. .''':::::  .
 *	    :::::::..    '..::::  :. ::::  :
 *	    ::'':::::::.    ':::.'':.::::  :
 *	    :..   ''::::::....':     ''::  :
 *	    :::::.    ':::::   :     .. '' .
 *	 .''::::::::... ':::.''   ..''  :.''''.
 *	 :..:::'':::::  :::::...:''        :..:
 *	 ::::::. '::::  ::::::::  ..::        .
 *	 ::::::::.::::  ::::::::  :'':.::   .''
 *	 ::: '::::::::.' '':::::  :.' '':  :
 *	 :::   :::::::::..' ::::  ::...'   .
 *	 :::  .::::::::::   ::::  ::::  .:'
 *	  '::'  '':::::::   ::::  : ::  :
 *	            '::::   ::::  :''  .:
 *	             ::::   ::::    ..''
 *	             :::: ..:::: .:''
 *	               ''''  '''''
 *	
 *
 *	AUTOMAD
 *
 *	Copyright (c) 2016-2018 by Marc Anton Dahmen
 *	http://marcdahmen.de
 *
 *	Licensed under the MIT license.
 */


@modal-background: 				rgba(0,0,0,0.1);

@modal-dialog-background:		@am-bg;
@modal-dialog-padding:			15px;
@modal-header-margin-bottom:	@utility-margin;
@modal-footer-margin-top:		@utility-margin;


.hook-modal() {
	overflow-y: auto !important;
}

.hook-modal-dialog() {
	
	overflow-x: hidden;
		
	&:not(&-blank) {
		border-radius: 12px;
		.shadow;
	}

	&-blank {
		box-sizing: border-box;
		-webkit-transform: translateY(0);
    			transform: translateY(0);
		height: 100%;
		padding-bottom: @utility-margin-large;
	}
			
	& hr {
		margin: @utility-margin -@modal-dialog-padding;
		border-top: @am-hairline;
	}		
			
}

.hook-modal-header() {	

	color: @am-text;
	font-size: 16px;
	line-height: @base-body-line-height;
	font-weight: inherit;
	
	& .uk-close {
		float: right;
		font-size: 14px;
		line-height: @base-body-line-height;
		margin-top: 2px;
	}
	
}
